<h1 class="text-center text-danger mt-4">404</h1>

<img src="img/confused404.png" alt="error404" class="img-tumbnail rounded-circle mx-auto mb-4 d-block" width="300">

<% if (pesanError.length === 0) { %>
    <h3 class="text-center text-danger">Unexpected Error !!</h3>
<% } %>

<h3 class="text-center text-danger"><%= pesanError %></h3>